@{
    ViewData["Title"] = "Home Page";
}
@if (!string.IsNullOrWhiteSpace(ViewBag.Error))
{
    <div class="alert alert-danger">
        @ViewBag.Error
    </div>
}

<div class="text-center">
    <h1 class="display-4">Welcome<span class="badge bg-secondary">@Context.Session.GetString("email")</span></h1>
</div>
